.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--content-bg);
}

.computer {
  width: 75%;
  height: 75%;
  background-color: var(--computer-bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  resize: both;
}

.monitor {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  background-color: var(--screen-bg);
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.2;
  padding-bottom: 4rem;
}

p {
  margin: 0;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input input {
  border: none;
  background: none;
  outline: none;
  cursor: default;
  width: 100%;
}

input,
.screen {
  color: var(--text-color);
  font-size: 14pt;
  font-family: consolas, 'Courier New', monospace;
}

.screen::-webkit-scrollbar {
  width: 12px;
}

.screen::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}

.screen::-webkit-scrollbar-track {
  background-color: var(--computer-bg)
}

.params li {
  list-style: '-';
}

.command-output {
  margin: 2rem 1rem;
}

@media (max-width: 600px) {
  .computer {
    width: 95%;
    height: 90%;
  }

  input,
  .screen {
    font-size: 1rem;
    padding: 1rem;
  }

  input {
    padding: 0px;
  }

  .screen {
    padding-bottom: 4rem;
  }
}
